{% extends 'base.html' %}
{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>


    {{ state }}
    {{ account.name }}
    <div class="container">
        <canvas id="myChart"></canvas>
    </div>
    <script>
        let ctx = document.getElementById('myChart').getContext('2d');

        // Global Options
        Chart.defaults.global.defaultFontFamily = 'Lato';
        Chart.defaults.global.defaultFontSize = 18;
        Chart.defaults.global.defaultFontColor = '#777';

        var scatterChart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [{
                    label: 'Balance over time',
                    data: [{% for data in balance_date %}
                        {
                            y: {{ data.0 }},
                            x: new Date("{{ data.1|safe }}")
                        },
                    {% endfor %}]
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            displayFormats: {
                                'millisecond': 'YY-MM-DD',
                                'second': 'YY MM-DD',
                                'minute': 'YY MM DD',
                                'hour': 'YY-MM-DD',
                                'day': 'YY-MM-DD',
                                'week': 'YY MM DD',
                                'month': 'YY MM DD',
                                'quarter': 'YY MM DD',
                                'year': 'YY MM DD',
                            }
                        }
                    }]
                }
            }
        });
    </script>


    <select id="acc_filter" hidden="hidden">
        <option value="{{ account.name }}">All</option>
    </select>
    {% with not_search=1 %}
        {% include 'tables_templates/transactions_table.html' %}
    {% endwith %}
{% endblock %}