{% extends 'budget_base.html' %}
{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>


    <form class="form-inline">
        <h4>Account Name: </h4>
        <div class="form-group mx-sm-3 mb-2">
            <label for="inputPassword2" class="sr-only">Account Name</label>
            <input type="text" class="form-control" id="Account_name" placeholder="Account_name">
        </div>
        <button class="btn btn-primary mb-2" id="account modify name button">Change name</button>
    </form>

    <script>
        $(document).ready(
            document.getElementById('Account_name').value = "{{ account.name }}"
        )

        document.getElementById("account modify name button").onclick = function () {
            $.ajax({
                url: "{% url 'ajax_modify_account_name' %}",
                type: "POST",
                data: {
                    'id_account': {{ account.id }},
                    'name': document.getElementById('Account_name').value,
                },
                dataType: 'json',
                success: function (data) {
                    if (data.state !== 'success') {
                        alert(data.state);
                    } else {
                        alert("Name changed succefully!");
                        location.reload()
                    }
                },
                error: function (data) {
                    alert(data)
                }
            })
        }
    </script>

    <div class="container">
        <canvas id="myChart"></canvas>
    </div>
    <script>
        let ctx = document.getElementById('myChart').getContext('2d');

        // Global Options
        Chart.defaults.global.defaultFontFamily = 'Lato';
        Chart.defaults.global.defaultFontSize = 18;
        Chart.defaults.global.defaultFontColor = '#777';

        var scatterChart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [{
                    type: 'line',
                    label: 'Balance over time',
                    data: [{% for data in balance_date %}
                        {
                            y: {{ data.0 }},
                            x: new Date("{{ data.1|safe }}")
                        },
                    {% endfor %}]
                }]
            },
            options: {
                elements: {
                    line: {
                        tension: 0
                    }
                },
                bezierCurve: false,
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            displayFormats: {
                                'millisecond': 'YY-MM-DD',
                                'second': 'YY MM-DD',
                                'minute': 'YY MM DD',
                                'hour': 'YY-MM-DD',
                                'day': 'YY-MM-DD',
                                'week': 'YY MM DD',
                                'month': 'YY MM DD',
                                'quarter': 'YY MM DD',
                                'year': 'YY MM DD',
                            }
                        }
                    }]
                }
            }
        });
    </script>


    <select id="acc_filter" hidden="hidden">
        <option value="{{ account.name }}">All</option>
    </select>
    {% with not_search=1 %}
        {% include 'tables_templates/transactions_table.html' %}
    {% endwith %}
{% endblock %}