<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}FilaBudget{% endblock %}</title>
    <link rel="icon" href="../../static/filalabds.svg" type="image/png">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>


</head>


<style>
    #div1 {
        width: 100%;
        height: 50px;
        background-color: red; /*Development Only*/
    }

    #div2 {
        width: 100%;
        position: absolute;
        top: 50px;
        bottom: 0;
        background-color: blue; /*Development Only*/
    }
</style>

{% block style %}
{% endblock %}

<body style="margin-top: 0px; margin-left: 0px;margin-bottom: 0px;margin-right: 0px;">

{% include 'budget_navbar.html' %}

<div id="div2">
    <div class="full-height container-fluid bg-light" style="height: 100%; padding-top: 10px">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>

{% if user.is_authenticated %}

{% endif %}


{% csrf_token %}
<script type="text/javascript">
    // using jQuery
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>


{% block javascript %}

{% endblock %}


</html>