<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<div class="row no-gutters row-bordered">
    <div class="m-1 col-md-5">

        <h3 class="font-weight-normal"> Interval balance: <strong>€{{ interval_balance }}</strong></h3>

    </div>

    <div class="m-1 col-md-6">

        <div class="container">
            <canvas id="myChart"></canvas>
        </div>

        <script>
            let myChart = document.getElementById('myChart').getContext('2d');

            // Global Options
            Chart.defaults.global.defaultFontFamily = 'Lato';
            Chart.defaults.global.defaultFontSize = 18;
            Chart.defaults.global.defaultFontColor = '#777';

            let massPopChart = new Chart(myChart, {
                type: 'pie', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                data: {
                    labels: [
                        {% for name in categories_names_interval %}
                            '{{ name }}',
                        {% endfor %}
                    ],
                    datasets: [{
                        {#label: 'Population',#}
                        data: [
                            {% for data in categories_balances_interval %}
                                {{ data }}
                                ,
                            {% endfor %}
                        ],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.6)',
                            'rgba(54, 162, 235, 0.6)',
                            {#'rgba(255, 206, 86, 0.6)',#}
                            {#'rgba(75, 192, 192, 0.6)',#}
                            {#'rgba(153, 102, 255, 0.6)',#}
                            {#'rgba(255, 159, 64, 0.6)',#}
                            {#'rgba(255, 99, 132, 0.6)'#}
                        ],
                        borderWidth: 1,
                        borderColor: '#777',
                        hoverBorderWidth: 2,
                        hoverBorderColor: '#000'
                    }]
                },
                options: {
                    title: {
                        display: false,
                        text: 'Expenses',
                        fontSize: 15
                    },
                    legend: {
                        display: true,
                        position: 'right',
                        labels: {
                            fontColor: '#000'
                        }
                    },
                    layout: {
                        padding: {
                            left: 50,
                            right: 0,
                            bottom: 0,
                            top: 0
                        }
                    },
                    tooltips: {
                        enabled: false
                    }
                }
            });


        </script>

    </div>
</div>