<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<div class="row no-gutters row-bordered">
    <div class="m-1 col-md-5">

        <h3 class="font-weight-normal"> Interval balance: <strong>€{{ interval_balance }}</strong></h3>
        <table class="table table-bordered m-0" id="dtBasicExample" role="grid"
               aria-describedby="DataTables_Table_0_info">
            <thead class="thead-light">
            <tr>
                <th scope="col">Category</th>
                <th scope="col">Payment</th>
                <th scope="col">Deposit</th>
                <th scope="col">Percentage</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories_balance_names_interval_pair %}
                <tr>
                    <td>
                        {{ category.0 }}
                    </td>
                    {% if category.1 < 0 %}
                        <td><font color="red">{{ category.1 }} </font></td>
                        <td></td>
                    {% elif category.1 > 0 %}
                        <td></td>
                        <td><font color="green">{{ category.1 }}</font></td>
                    {% elif category.1 == 0 %}
                    {% else %}
                        <td>
                            {{ category.2 }}%
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="m-1 col-md-6">

        <div class="container">
            <canvas id="myChart"></canvas>
        </div>

        <script>
            let myChart = document.getElementById('myChart').getContext('2d');

            // Global Options
            Chart.defaults.global.defaultFontFamily = 'Lato';
            Chart.defaults.global.defaultFontSize = 18;
            Chart.defaults.global.defaultFontColor = '#777';

            let massPopChart = new Chart(myChart, {
                type: 'pie', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                data: {
                    labels: [
                        {% for data in categories_balance_names_interval_pair %}{% if data.1 < 0 %}'{{ data.0 }}', {% endif %}{% endfor %}
                    ],
                    datasets: [{
                        {#label: 'Population',#}
                        data: [
                            {% for data in categories_balance_names_interval_pair %}{% if data.1 < 0 %}{{ data.1 }} * (-1), {% endif %}{% endfor %}
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(54, 162, 235, 0.6)',
                        'rgba(255, 206, 86, 0.6)',
                        'rgba(75, 192, 192, 0.6)',
                        'rgba(153, 102, 255, 0.6)',
                        'rgba(255, 159, 64, 0.6)',
                        'rgba(255, 99, 132, 0.6)'
                    ],
                    borderWidth: 1,
                    borderColor: '#777',
                    hoverBorderWidth: 6,
                    hoverBorderColor:
                        ['rgba(255, 99, 132, 0.6)', 'rgba(54, 162, 235, 0.6)', 'rgba(255, 206, 86, 0.6)', 'rgba(75, 192, 192, 0.6)', 'rgba(153, 102, 255, 0.6)', 'rgba(255, 159, 64, 0.6)', 'rgba(255, 99, 132, 0.6)']
                    {#['#000000']#}
                }
            ]
            },
            options: {
                title: {
                    display: false,
                        text
                :
                    'Expenses',
                        fontSize
                :
                    12
                }
            ,
                legend: {
                    display: true,
                        position
                :
                    'right',
                        labels
                :
                    {
                        fontColor: '#000'
                    }
                }
            ,
                layout: {
                    padding: {
                        left: 50,
                            right
                    :
                        0,
                            bottom
                    :
                        0,
                            top
                    :
                        0
                    }
                }
            ,
                tooltips: {
                    enabled: true,
                        displayColors
                :
                    true
                }
            }
            })
            ;


        </script>

    </div>
</div>