<div class="m-1">
    <h2 class="text-center  font-weight-normal py-2 px-2 px-sm-2 m-0">Create a transaction</h2>
    <hr class="border-light m-0">
    <form method="POST" id="creazione_transazione"> {% csrf_token %}

        <div class="form-group">
            <label class="form-label">Descrizione</label>
            <input type="text" name="descrizione" id="descrizione" class="form-control" autocomplete="off">
        </div>

        <div class="">
            <label>Account</label>
            <select title="Scegli una opzione" data-live-search="true" data-live-search-placeholder="Cerca opzioni"
                    id="Account_select">
                {% for account in account_list %}
                    <option value="{{ account.name }}">{{ account.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="">
            <label>Categoria</label>
            <select title="Scegli una opzione" data-live-search="true" data-live-search-placeholder="Cerca opzioni"
                    id="Categoria_select">

                {% for category in categories_names %}
                    <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="it-datepicker-wrapper">
            <div class="form-group">
                <input class="form-control it-date-datepicker " id="date_time" type="date"
                       placeholder="inserisci la data in formato gg/mm/aaaa">
                <label for="date1">Date</label>
            </div>
        </div>


        <label>Amount</label>
        <input type="number" step="0.01" id="amount" name="amount" placeholder="quantità" autocomplete="off"/>

        <button type="button" value="create" name="create" id="deposit_form"
                class="btn btn-primary btn-lg mt-4 ">Deposit money
        </button>

        <button type="button" value="create" name="create" id="withdraw_form"
                class="btn btn-primary btn-lg mt-4 ">Withdraw money
        </button>

    </form>

</div>


<script>
    $(document).ready(function () {
        document.getElementById("date_time").valueAsDate = new Date();
    })

    {#TODO: cercare live search, scrivere la roba per le api#}

    $("#deposit_form").click(function (e) {

        var descrizione = $("#descrizione").val();
        var account = $("#Account_select").val();
        var categoria = $("#Categoria_select").val();
        var date = $("#date_time").val();
        var amount = $("#amount").val();


        $.ajax({
            url: "{% url 'ajax_create_transaction' %}",
            type: "POST",

            data: {
                'description': descrizione,
                'account': account,
                'category': categoria,
                'date': date,
                'amount': amount
            },
            dataType: 'json',
            success: function (data) {
                if (data.state === "success") {
                    $("#descrizione").val("");
                    $("#Account_select").val("");
                    $("#Categoria_select").val("");
                    $("#date_time").val("");
                    $("#amount").val("");
                    location.reload();
                }
                    // Do stuff
                //change stuff
                else {
                    alert(data.state)

                }
            }
        })
    })

    $("#withdraw_form").click(function (e) {

        var descrizione = $("#descrizione").val();
        var account = $("#Account_select").val();
        var categoria = $("#Categoria_select").val();
        var date = $("#date_time").val();
        var amount = -$("#amount").val();


        $.ajax({
            url: "{% url 'ajax_create_transaction' %}",
            type: "POST",

            data: {
                'description': descrizione,
                'account': account,
                'category': categoria,
                'date': date,
                'amount': amount
            },
            dataType: 'json',
            success: function (data) {
                if (data.state === "success") {
                    $("#descrizione").val("");
                    $("#Account_select").val("");
                    $("#Categoria_select").val("");
                    $("#date_time").val("");
                    $("#amount").val("");
                    location.reload();
                }
                    // Do stuff
                //change stuff
                else {
                    alert(data.state)

                }
            }
        })
    })

</script>