{% extends 'base.html' %}
{% block content %}

    <h2 class="font-weight-normal py-3 px-3 px-sm-3 m-0">

        Transactions list

    </h2>

    <h4 class="font-weight-normal py-3 px-3 px-sm-3 m-0">Filters</h4>

    <div class="">

        <div class="row no-gutters row-bordered">
            <div class="col-md-4">
                <label class="form-label">Descrizione</label>
                <input type="text" id="description_filter" class="form-control" autocomplete="off">
            </div>

            <div class="col-md-4">
                <label class="form-label">Account</label>
                <select id="acc_filter">
                    <option value="All">All</option>
                    {% for account in account_list %}
                        <option value="{{ account.name }}">{{ account.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-4">
                <label class="form-label">Categoria</label>
                <select id="cat_filter">
                    <option value="All">All</option>
                    {% for category in categories_names %}
                        <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="it-datepicker-wrapper">
                <div class="form-group">
                    <input class="form-control it-date-datepicker" id="date_init" type="date"
                           placeholder="inserisci la data in formato gg/mm/aaaa">
                    <label for="date1">Date label</label>
                </div>
            </div>
            <div class="it-datepicker-wrapper">
                <div class="form-group">
                    <input class="form-control it-date-datepicker" id="date_end" type="date"
                           placeholder="inserisci la data in formato gg/mm/aaaa">
                    <label for="date1">Date label</label>
                </div>
            </div>
        </div>
        <button id="add_filter_butt">Search</button>
    </div>

    <script>

        $("#add_filter_butt").click(function () {

            request = {};

            acc_filter = $("#acc_filter").val();
            if (acc_filter != "All") request['acc_filter'] = acc_filter;
            cat_filter = $("#cat_filter").val();
            if (cat_filter != "All") request['cat_filter'] = cat_filter;
            description_filter = $("#description_filter").val();
            request['description_filter'] = description_filter;
            date_init = $("#date_init").val();
            if (date_init) request['date_init'] = date_init;
            date_end = $("#date_end").val();
            if (date_end) request['date_end'] = date_end;


            $.get("{% url 'json_transactions' %}",
                request,
                function (data, status) {

                    table = document.getElementById("transaction_list_body");
                    while (table.childElementCount != 0) table.children[0].remove();
                    data.transactions.forEach(create_elem);

                    function create_elem(item, index) {

                        let riga = document.createElement("tr");

                        for (let j = 0; j < 4; j++) {
                            let kek = document.createElement("td");
                            kek.innerText = item[j];
                            riga.appendChild(kek);
                        }

                        if (item[4] > 0) {
                            let kek = document.createElement("td");
                            kek.innerText = "€ ";
                            kek.innerText += item[4];
                            riga.appendChild(kek);
                            kek = document.createElement("td");
                            riga.appendChild(kek);
                        } else {
                            let kek = document.createElement("td");
                            riga.appendChild(kek);
                            kek = document.createElement("td");
                            kek.innerText = "€ ";
                            kek.innerText += -item[4];
                            riga.appendChild(kek);
                        }
                        let kek = document.createElement("button");
                        kek.id = "Delete_json";
                        kek.value = item[5];
                        kek.innerHTML = "<i class=\"material-icons\">delete_forever</i>";

                        kek.onclick = function () {
                            const valuer = this.value;
                            if (confirm("Sicuro di voler eliminare la transazione?")) {
                                $.ajax({
                                    url: '/budget/ajax/del_transaction',
                                    type: "POST",
                                    data: {
                                        'id': valuer,
                                    },

                                    dataType: 'json',
                                    success: function (data) {
                                        if (data.state === 'success') {
                                            $("#add_filter_butt").click();
                                        } else {
                                            alert(data.state)
                                        }
                                    }
                                })
                            }
                        };

                        let f = document.createElement("td");
                        f.appendChild(kek);
                        riga.appendChild(f);

                        table.appendChild(riga);
                    }

                    $("#Delete_json").click(function () {

                            if (confirm("Sicuro di voler eliminare la transazione?")) {
                                $.ajax({
                                    url: '/budget/ajax/del_transaction',
                                    type: "POST",
                                    data: {
                                        'id': this.value,
                                    },

                                    dataType: 'json',
                                    success: function (data) {
                                        if (data.state === 'success') {
                                            $("#add_filter_butt").click();
                                        } else {
                                            alert(data.state)
                                        }
                                    }
                                })
                            }
                        }
                    )

                }
            );
        })


    </script>
    {% include 'transaction_summary.html' %}

{% endblock %}