<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<td> {{ transaction.account.name }}  </td>
<td> {{ transaction.timeDate }}  </td>
<td> {{ transaction.category.name }}  </td>
<td> {{ transaction.description }}  </td>
{% if transaction.balance > 0 %}
    <td> € {{ transaction.balance }}  </td>
    <td></td>
{% else %}
    <td></td>
    <td> € {{ transaction.balance }}  </td>
{% endif %}

{% if context == "transactions_overview" %}
    <td>
        <button id="del{{ transaction.id }}">
            <i class="material-icons">delete_forever</i>
        </button>
    </td>
{% endif %}

<script>

    $("#del{{ transaction.id }}").click(function () {

        if (confirm("Sicuro di voler eliminare la transazione?")) {

            $.ajax({
                url: '/budget/ajax/del_transaction',
                type: "POST",
                data: {
                    'id': {{ transaction.id }},
                },

                dataType: 'json',
                success: function (data) {
                    if (data.state === 'success') {
                        location.reload();
                    } else {
                        alert(data.state)
                    }
                }


            })
        }
    })


</script>
