<div class="card m-1" style="">
    <table class="table table-bordered m-0" id="dtBasicExample" role="grid"
           aria-describedby="DataTables_Table_0_info">
        <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Total Balance</th>
            <th scope="col"># of transactions</th>
            <th scope="col">Past 30 days</th>
            <th scope="col">Past 30 days share</th>
            <th scope="col"># interval transactions</th>
            <th scope="col">Created on</th>
        </tr>
        </thead>
        <tbody id="acc_table_body">

        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        request = {};
        request['null'] = 0;
        $.get("{% url 'json_accounts' %}",
            request,
            function (data, status) {

                table = document.getElementById("acc_table_body");
                while (table.childElementCount != 0) table.children[0].remove();
                data.categories.forEach(create_elem);

                function create_elem(item, index) {
                    let riga = document.createElement("tr");

                    var kek = document.createElement("td");
                    kek.innerHTML = '<a href="{% url 'account detail' 1 %}">'.replace(1, item.account_id) + item.account_name + '</a>';
                    riga.appendChild(kek);

                    kek = document.createElement("td")
                    kek.innerText = item.account_balance;
                    riga.appendChild(kek);

                    kek = document.createElement("td")
                    kek.innerText = item.amount_transactions;
                    riga.appendChild(kek);

                    kek = document.createElement("td")
                    kek.innerText = item.past_n_days;
                    riga.appendChild(kek);

                    kek = document.createElement("td")
                    kek.innerText = item.past_n_days_share;
                    riga.appendChild(kek);

                    kek = document.createElement("td")
                    kek.innerText = item.transactions_last_n_days;
                    riga.appendChild(kek);

                    kek = document.createElement("td")
                    kek.innerText = item.created_on;
                    riga.appendChild(kek);

                    table.appendChild(riga);
                }
            }
        );
    })


</script>
