<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
<textarea id="chat-log" cols="100" rows="20"></textarea><br>
<input id="chat-message-input" type="text" size="100"><br>
<input id="chat-message-submit" type="button" value="Send">
{{ room_name|json_script:"room-name" }}
<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    if (window.location.host.includes("127.0.0")) {
        var stringa = 'ws://'
            + window.location.host
            + '/wss/chat/'
            + roomName
            + '/';
    } else {
        stringa = 'wss://'
            + window.location.host
            + '/wss/chat/'
            + roomName
            + '/';
    }
    const chatSocket = new WebSocket(stringa);


    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        document.querySelector('#chat-log').value += (data.message + '\n');
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInputDom.value = '';
    };
</script>
</body>
</html>

<script>
    $(document).ready(function () {
        function a() {
            $("#div_alert").removeClass("show")
        }

        function o(a) {
            $("#text_error").html(a), $("#div_alert").addClass("show")
        }

        $("#btn_close_alert").click(function () {
            a()
        }), $("#btn_login").click(function () {
            var e = $("#e_li").val(), n = $("#p_li").val(), t = {email: e, password: n};
            a(), "" != e && "" != n ? $.ajax({
                type: "POST",
                url: "../api/login",
                data: JSON.stringify(t),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (a) {
                    window.location.href = "../app/home.php"
                },
                error: function (a, e, n) {
                    var t = a.responseText;
                    o((t = JSON.parse(t)).error.message)
                }
            }) : o("Email e password obbligatori.")
        })
    });

</script>