{% extends 'base.html' %}
{% block content %}
    <div class="card">
        <div class="row no-gutters row-bordered">
            <div class="col-md-2">
                Create new match
            </div>
            <div class="col-md-6">
                <div class="card">
                    {% for m in games_set %}
                        {{ m.player1.username }}
                        {% if m.players_amount > 1 %}
                            {{ m.player2.username }}
                        {% endif %}
                        {% if m.players_amount > 2 %}
                            {{ m.player3.username }}
                        {% endif %}
                        {% if m.players_amount > 3 %}
                            {{ m.player3.username }}
                        {% endif %}

                        <p>
                            <a href="{% url 'match_detail' m.id %}">Open match</a>
                            {% if not m.is_started_game %}
                                {% if m.player1_id == request.user.id %}
                                    <a href="{% url 'start_match' m.id %}">Start match</a>
                                {% else %}
                                    <p>Waiting for {{ m.player1 }} to start the match</p>
                                {% endif %}
                                {% if not m.is_started_match %}
                                    <p>Il link per joinare il match è il
                                        seguente: https://filabudget.herokuapp.com{% url 'join_match' m.invite_data.joining_id m.invite_data.joining_passwd %}</p>
                                {% endif %}
                            {% endif %}
                        </p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <p> Notifications </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}