{% extends 'base.html' %}



{% block title %} Homepage {% endblock %}







{% block content %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <div class="authentication-inner py-5" style="margin: auto; width: 50%">

        <div class="card">

            <div class="row no-gutters row-bordered">

                <!-- Login -->
                <div class="col-md-6">
                    <h5 class="text-center text-muted font-weight-normal py-4 px-4 px-sm-5 m-0">Login to Your
                        Account</h5>
                    <hr class="border-light m-0">

                    <div class="px-4 px-sm-5 pt-4 pb-5 pb-sm-5">

                        <!-- Login form -->
                        {#                        <form method="POST"> {% csrf_token %}#}
                        <div class="form-group">
                            <label class="form-label">Name</label>
                            <input type="text" name="username_l" id="username_l_ajax" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="form-label d-flex justify-content-between align-items-end">
                                <div>Password</div>
                                <a href="javascript:void(0)" class="d-block small">Forgot password?</a>
                            </label>
                            <input type="password" name="password_l" id="password_l_ajax" class="form-control">
                        </div>
                        <div class="d-flex justify-content-between align-items-center m-0">
                            <button id="login_but" class="btn btn-primary btn-block mt-4">Login
                            </button>
                        </div>
                        {#                        </form>#}
                        <!-- / Login form -->

                    </div>
                </div>
                {#                <div class="col-md-2"></div>#}
                <!-- / Login -->

                <!-- Register -->
                <div class="col-md-6">
                    <h5 class="text-center text-muted font-weight-normal py-4 px-4 px-sm-5 m-0">Create an Account</h5>
                    <hr class="border-light m-0">

                    <div class="px-4 px-sm-5 pt-4 pb-5 pb-sm-5">

                        <!-- Register form -->
                        {#                        <form method="POST"> {% csrf_token %}#}
                        <div class="form-group">
                            <label class="form-label">Your name</label>
                            <input type="text" name="username_r" id="username_r_ajax" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Your email</label>
                            <input type="text" name="email_r" id="email_r_ajax" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Password</label>
                            <input type="password" name="password_r_ajax" id="password_r_ajax" class="form-control">
                        </div>
                        <button type="submit" value="Sing up" name="register" id="register_button"
                                class="btn btn-primary btn-block mt-4">Sign up
                        </button>
                        {#                        </form>#}
                        <!-- / Register form -->

                    </div>
                </div>
                <!-- / Register -->

            </div>

            <div class="row-no-gutters row-bordered">
                {% load socialaccount %}
                <div class="d-flex justify-content-between align-items-center m-0">
                    <button class="btn btn-primary btn-block mt-4" onclick="location.href='{% provider_login_url 'google' %}'">Login
                        with
                        google
                    </button>
                </div>
            </div>
        </div>

    </div>


{% endblock %}

{% block javascript %}

    <script>

        $("#login_but").click(function () {

            var username = $("#username_l_ajax").val();
            var password = $("#password_l_ajax").val();

            $.ajax({
                url: '/users/ajax/login_api',
                type: "POST",
                data: {
                    'username': username,
                    'password': password
                },

                dataType: 'json',
                success: function (data) {
                    if (data.errore === 0) {
                        window.location.replace("")
                    } else if (data.errore === 1) {
                        alert("Bad request");
                    } else if (data.errore === 2) {
                        alert("Username o password non validi")
                    }
                }
            })
        });

        $("#register_button").click(function () {

            var username = $("#username_r_ajax").val();
            var password = $("#password_r_ajax").val();
            var email = $("#email_r_ajax").val();

            $.ajax({
                url: '/users/ajax/register_api',
                type: 'POST',
                data: {
                    'username': username,
                    'password': password,
                    'email': email
                },
                dataType: 'Json',
                success: function (data) {
                    if (data.state === 'success') {
                        location.reload();
                    } else {
                        alert(data.state);
                    }
                }

            })

        })
    </script>


{% endblock %}