{% extends 'base.html' %}
{% block title %} Changelog
{% endblock %}

{% block content %}
    <h2>Change log</h2>
    <p>

    </p>
    <ul><h5>v59 2020-04-30</h5>
        <li>Small bug fixes</li>
    </ul>

    <ul><h5>v58 2020-04-30</h5>
        <li>Big bug fixes</li>
    </ul>

    <ul><h5>v57 2020-04-30</h5>
        <li>Small bug fixes</li>
    </ul>

    <ul><h5>v57 2020-04-30</h5>
        <li>Improved json apis (again)</li>
        <li>Created account detailed page draft</li>
    </ul>


    <ul><h5>v56 2020-04-29</h5>
        <li>Changed pages titles</li>
        <li>Added draft of overview page</li>
        <li>Improved json apis</li>
    </ul>


    <ul><h5>v55 release: 2020-04-27 </h5>
        <li>Added changelog</li>
    </ul>
    <ul><h5>v54 release: 2020-04-27 </h5>
        <li>Create transaction now has two button for withdraw and deposit</li>
    </ul>

{% endblock %}