{% extends 'base.html' %}
{% block title %} Changelog
{% endblock %}

{% block content %}
    <h2>Change log</h2>
    <p>

    </p>

    <h5>Versione - 0.7.0 2020-06-23</h5>
    <li>Added initial landing page</li>
    <li>Announced Moody</li>
    <li>Improved website style</li>
    <li>Bug fixes</li>
    </ul>
    <ul>
        <h5>Versione - 0.6.1 2020-06-21</h5>
        <li>Migrated user model, improved usability of code</li>
    </ul>
    <ul>
        <h5>Versione - 0.6.0 2020-06-19</h5>
        <li>Added google login (to link it to existing account, contact an administrator)</li>
    </ul>
    <ul>
        <h5>Versione - 0.5.4 2020-06-19</h5>
        <li>Improved Admin page</li>
    </ul>

    <ul>
        <h5>Versione - 0.5.3</h5>
        <li>Not funny</li>
        <li>Bug fixes</li>
        <li>Dumped Django in order to solve security issues</li>
        <li>Upgraded Python to 3.8.3 in order to solve security issues</li>
    </ul>
    <ul>
        <h5>Versione - 0.5.2 2020-05-10</h5>
        <li>Ritardato io sono, questo commit le mie stronzate deve risolvere</li>
        <li>Sbagliato anche il changelog io avevo</li>
    </ul>

    <ul><h5>Versione - 0.5.1 2020-05-10</h5>
        <li>v63-v65 minor bug fixes</li>
        <li>Added insight page for every year</li>
    </ul>

    <ul><h5>Versione - 0.5.0 2020-05-01</h5>
        <li>Greatly improved insight page</li>
    </ul>

    <ul><h5>Versione - 0.4.5 2020-05-01</h5>
        <li>Create a transaction form now has default date on the current day</li>
    </ul>


    <ul><h5>Versione - 0.4.4 2020-04-30</h5>
        <li>migrations for unique names</li>
        <li>account details now has correct dates display</li>
    </ul>

    <ul><h5>Versione - 0.4.3 2020-04-30</h5>
        <li>Small bug fixes</li>
    </ul>

    <ul><h5>Versione - 0.4.2 2020-04-30</h5>
        <li>Big bug fixes</li>
    </ul>

    <ul><h5>Versione - 0.4.1 2020-04-30</h5>
        <li>Small bug fixes</li>
    </ul>

    <ul><h5>Versione - 0.4.0 2020-04-30</h5>
        <li>Improved json apis (again)</li>
        <li>Created account detailed page draft</li>
    </ul>


    <ul><h5>Versione - 0.3.4 2020-04-29</h5>
        <li>Changed pages titles</li>
        <li>Added draft of overview page</li>
        <li>Improved json apis</li>
    </ul>


    <ul><h5>Versione - 0.3.3 release: 2020-04-27 </h5>
        <li>Added changelog</li>
    </ul>
    <ul><h5>Versione - 0.3.2 release: 2020-04-27 </h5>
        <li>Create transaction now has two button for withdraw and deposit</li>
    </ul>

    <ul><h5>Versione - 0.3.1</h5>
        <li>Released website + old undocumented changes</li>
    </ul>

{% endblock %}