

{% if user.is_authenticated %}

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #a1afc6;">
        <a class="navbar-brand" href="{% url 'home' %}">FilaBudget</a>
        <img src="../static/filalabds.svg" style="width: 50px; height: 50px">
        {#        TODO: fix logo #}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'transactions' %}">Transactions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'categories' %}">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts' %}">Accounts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'export data' %}">Export data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'game_home' %}">Card Games</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="{% url 'changelog' %}">Changelog</a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Hi {{ user.username }}!
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    </div>
                </li>
            </ul>
            {#        </div>#}
    </nav>


{% else %}
    <!--<p>You are not logged in</p>-->
    <!--<a href="">login</a> |-->



    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #a1afc6;">
        <a class="navbar-brand" href="">FilaDebts</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown2"
                aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown2">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="">Benvenuto, iscriviti o effettua l' accesso</a>
                </li>
            </ul>
        </div>
    </nav>
{% endif %}





{# This is a test zone #}
